.benefits {
  .outing {
    width: 100%;
    @include x-large {
      max-height: 304px;
      width: 58%;
    }
  }
  ul {
    margin: 0 auto;
    padding: 2em 0 0 0;
    width: 285px;
    @include x-large {
      display: inline-block;
      padding: 0;
      vertical-align: top;
    }
    li {
      padding: .5em 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom :0;
      }
      span {
        display: inline-block;
        font-size: 3rem;
        text-align: center;
        vertical-align: middle;
        width: 2em;
      }
    }
  }
}