.contact {
  ::placeholder {
    color: white;
  }
  form {
    display: block;
    width: 100%;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $accentColor inset;
    -webkit-text-fill-color: $bodyBG;
  }
  button, input, select, textarea, .file-input {
    font-size: 1.5rem;
  }
  input, select, textarea, .file-input {
    border-radius: 0;
    display: block;
    padding: 10px;
  }
  input, textarea, .file-input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    &:focus {
      border-bottom: 2px solid $bodyTextColor;
    }
  }
  button, input, textarea, .file-input  {
    margin-top: 25px;
  }
  button {
    background: none;
    border: 2px solid white;
    cursor: pointer;
    padding: 5px 20px;
    &[disabled] {
      cursor: default;
      opacity: .4;
    }
  }
  select {
    appearance: none;
    background: none;
    border: none;
    border-bottom: 2px solid $bodyBG;
    position: relative;
    z-index: 1;
    width: 100%;
    @include medium {
      width: auto;
    }
  }
  textarea {
    display: block;
    resize: none;
  }
  .file-input-wrapper {
    &.hidden {
      display: none;
    }
    input {
      border: none;
      height: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      width: 0;
    }
  }
  .select-wrapper {
    display: inline-block;
    position: relative;
    .select-arrow {
      font-size: 2rem;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }
}