.values {
  li {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    &:last-child {
      p {
        margin: 0;
      }
    }
    @include large {
      width: 32.9%;
      .value-img {
        transform: scale(1.2);
      }
      &:first-child, &:last-child {
        .value-img {
          transform: scale(.9);
        }
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    .value-img {
      background: linear-gradient(145deg, $accentColor, hsl(176, 69%, 42%));
      border-radius: 50%;
      color: $bodyBG;
      display: inline-block;
      font-size: 8rem;
      height: 1.5em;
      line-height: 1.5em;
      margin: 0 0 .5em 0;
      width: 1.5em;
      .icon {
        &:before {
          line-height: inherit;
        }
      }
    }
    .value-desc {
      font-size: 1.2rem;
      margin-bottom: 3em;
      text-align: center;
      @include large {
        margin-bottom: 0;
      }
    }
  }
}