{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "TweenLite": false
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "extends": "standard",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-trailing-spaces": [2, {"skipBlankLines": true}],
    "eol-last": 0,
    "react/jsx-uses-react": 2
  }
}
